@font-face {
    font-family: Silkscreen;
    src: url('../fonts/slkscreb.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Silkscreen;
}

body {
    background-color:cornsilk;
}

main {
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1 {
    padding: 30px;
    text-align: center;
}

header {
    text-align: center;
    padding: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 30px;
    width: 100%;
}

#dice-roll {
    text-align: center;
}

.roll-dice-btn {
    display: block;
    width: 150px;
    height: 60px;
    margin: 20px auto;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.roll-dice-btn:hover {
    color: black;
    background-color: white;
}

#winner-name span {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}