body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Target only the input text tag */
input[type="text"] {
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin: 10px 0;
}

#shopping-list {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 500px;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

#shopping-list li {
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

/* li background changes based on index */
#shopping-list li:nth-child(odd) {
  background: #f9f9f9;
}